<ion-content class="bg_secundary play_music" no-bounce>

	<!-- ########################################### -->
	<!-- ## INSERIR A CLASSE .open QUANDO O BOTAO ## -->
	<!-- ##     ADICIONAR MUSICA FOR CLICADO      ## -->
	<!-- ########################################### -->
	<!-- ## RETIRAR A CLASSE open QUANDO CLICAR   ## -->
	<!-- ##            EM .close_side             ## -->
	<!-- ########################################### -->

	<ion-grid class="noPadding sidebar_control">

		<div class="play_content">

			<ion-row>

				<ion-col col-6 class="right_content principal">

					<ion-header>
						<ion-toolbar>

							<ion-row>
								<ion-col>
									<img src="assets/img/logo_worshop_pq.png" class=""/>
								</ion-col>
							</ion-row><!-- /.ion-row -->

							<ion-row>
								<ion-col>

									<div class="header_content">
										<h1 class="type01 img">
											<span>Playlist</span>
											Principal
										</h1>

										<button ion-button item-right (tap)="toggleMenu('menuPrincipais')" [ngClass]="{'active' : isMenuOpen('menuPrincipais')}">
											<span class="ico_add"></span>
										</button>
									</div><!-- /header_content -->

								</ion-col>
							</ion-row><!-- /.ion-row -->

						</ion-toolbar>
					</ion-header>

					<ion-content>

						<ion-list class="list_playlist reproducao">

							<ion-item *ngFor="let princSong of activeSongs['principal']; let i = index;" [ngClass]="{'active' : isPlayingSong('principal', princSong)}">
								<ion-thumbnail item-left>
									<img src="assets/img/img_placehold_capa.png">
								</ion-thumbnail>
								<h1>{{princSong.name}}</h1>
								<h2>{{princSong.artist}}</h2>
								<button ion-button clear item-right (tap)="toggleSong('principal', princSong)">
									<span class="ico_control"></span>
									<!-- <ion-icon ios="ios-pause" md="md-pause"></ion-icon> -->
								</button>
							</ion-item>

						</ion-list>

					</ion-content>

				</ion-col><!-- /right_content -->

				<ion-col col-6 class="right_content instrumental">

					<ion-header>
						<ion-toolbar>
							<ion-row>
								<ion-col offset-6 col-6>
									<button ion-button color="light" class="light" (tap)="stopPlayState()" outline block>Encerrar reprodução</button>
								</ion-col>
							</ion-row><!-- /.ion-row -->

							<ion-row>
								<ion-col>

									<div class="header_content">
										<h1 class="type01 img">
											<span>Playlist</span>
											Instrumental
										</h1>

										<button ion-button item-right (tap)="toggleMenu('menuInstrumentais')" [ngClass]="{'active' : isMenuOpen('menuInstrumentais')}">
											<span class="ico_add"></span>
										</button>
									</div><!-- /header_content -->

								</ion-col>
							</ion-row><!-- /.ion-row -->

						</ion-toolbar>
					</ion-header>

					<ion-content>

						<ion-list class="list_playlist reproducao">

							<ion-item *ngFor="let instSong of activeSongs['instrumental']; let i = index;" [ngClass]="{'active' : isPlayingSong('instrumental',instSong)}">
								<ion-thumbnail item-left>
									<img src="assets/img/img_placehold_capa.png">
								</ion-thumbnail>
								<h1>{{instSong.name}}</h1>
								<h2>{{instSong.artist}}</h2>
								<button ion-button clear item-right (tap)="toggleSong('instrumental',instSong)">
									<span class="ico_control"></span>
									<!-- <ion-icon ios="ios-pause" md="md-pause"></ion-icon> -->
								</button>
							</ion-item>

						</ion-list>

					</ion-content>

				</ion-col><!-- /right_content -->

			</ion-row>

		</div><!-- /play_content -->

	</ion-grid>

</ion-content>
