// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* ==================================================================
VARIABLES
================================================================== */
$primary-color: 	#ff0049;
$secundary-color: 	#372737;

$light-color: 		#d5aad5;
$dark-color: 		#473247;


/* ==================================================================
FONTS
================================================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

ion-app.ios,
ion-app.md
{
	font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
}

.content
{
	color:  #ffffff;
}

.content-md,
.toolbar-background-md
{
	background-color: transparent;
}


/* ==================================================================
TITULOS
================================================================== */

h1, h2, h3, h4, h5, h6
{
	font-weight: 200;
	margin: 0;

	&.type01
	{
		font-size: 30px;
		line-height: 1;
		font-weight: 300;
		color: #ffffff;
		span
		{
			font-size: .7em;
			font-weight: 200;
			display: block;
		}

		&.img
		{
			background-image: url('../assets/img/ico_playlist.png');
			background-repeat: no-repeat;
			background-position: left center;

			padding-left: 65px;

			font-size: 2em;

			span
			{
				line-height: 1.2em;
			}
		}
	}

	.badge
    {
    	position: relative;
    	top: -2px;
		height: 30px;
		line-height: 30px;

		padding: 0 10px;

		font-size: 2rem;

		/* letter-spacing: -1.4px; */

		text-align: center;
		/* padding: 0; */

	    background-color: $primary-color;
	    color: #ffffff;

	    font-weight: 400;

	    border-radius: 10em;
    }
}


/* ==================================================================
UTEIS
================================================================== */
.noPadding
{
	padding: 0;
}

.ico_select
{
	width: 60px;
	height: 60px;
	display: none;

	position: absolute;
	top: 50%;
	left: 50%;

	padding: 0;

	margin-left: -30px;
	margin-top: -30px;

	background-image: url('../assets/img/ico_select.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.ico_add
{
	width: 50px;
	height: 50px;
	display: block;

	background-image: url('../assets/img/ico_add.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% auto;
}

.ico_play
{
	width: 50px;
	height: 50px;
	display: block;

	background-image: url('../assets/img/ico_play.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% auto;
}

.ico_circle_play
{
	width: 60px;
	height: 60px;

	background-image: url('../assets/img/ico_circle_play.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.ico_circle_pause
{
	@extend .ico_circle_play;

	background-image: url('../assets/img/ico_circle_pause.png');
}

.ico_pause
{
	width: 50px;
	height: 50px;
	display: block;

	background-image: url('../assets/img/ico_pause.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% auto;
}

.text-overflow
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

/* ==================================================================
BRACKGROUNDS
================================================================== */
.bg_primary
{
	background-color: 	$primary-color !important;
}
.bg_secundary
{
	background-color: 	$secundary-color !important;
}

.bg_teste
{
	background-image: url('../assets/img/bg_sidebar.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}


/* ==================================================================
FLEX TYPES
================================================================== */
.flex_type01
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: 100vh;
}

.flex_type02
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: center; */
}


/* ==================================================================
ALERTS
================================================================== */
.alert-ios .alert-wrapper
{
	overflow: initial;
	max-width: 380px;

	.alert-head
	{
		min-height: 60px;

		.alert-title
		{
			width: 120px;
			height: 120px;

			display: block;

			border-radius: 50%;
			border: solid 6px #ffffff;

			text-indent: -9999px;

			background-image: url(../assets/img/img_placehold_pq.png);
			background-size: cover;
			background-repeat: no-repeat;

			position: absolute;
			top: 0;
			left: 50%;

			margin-left: -63px;
			margin-top: -63px;
		}
	}

	.alert-message
	{
		padding: 0 35px 21px;
		font-size: 22px;

		color: $secundary-color;
	}

	.alert-button-group
	{
		padding: 0 15px 20px 15px;
		.alert-button
		{
			border: none;
			padding: 0 10px;
			.button-inner
			{
				border: solid 2px transparent;
				border-radius: 30px;
				text-transform: uppercase;

				font-size: 15px;
			}

			&.activated
			{
				background-color: transparent;
			}

			&:first-child
			{
				.button-inner
				{
					border-color: $secundary-color;
					color: $secundary-color;
				}

				&.activated
				{
					.button-inner
					{
						background-color: $secundary-color;
						color: #ffffff;
						opacity: .6;
					}
				}
			}

			&:last-child
			{
				.button-inner
				{
					background-color:  $primary-color;
					border-color: $primary-color;
					color: #ffffff;
				}

				&.activated
				{
					.button-inner
					{
						opacity: .6;
					}
				}
			}
		}
	}
}


/* ==================================================================
MENU
================================================================== */
#menuPrincipais,
#menuInstrumentais
{
	.menu-inner
	{
		.toolbar-background-ios,
		.content-ios
		{
			@extend .bg_primary;
		}

		.header-ios,
		.footer-ios
		{
			.toolbar-background-ios
			{
				border: none;
			}
		}


		.header
		{
			padding: 2px 0 8px 14px;
			position: relative;

			h1.img
			{
				background-position: left 5px;
				padding-left: 59px;
				background-size: 44px;

				.badge
			    {
					height: 24px;
					line-height: 25px;

					padding: 0 8px;

					right: -10px;

					font-size: 1.6rem;
					font-weight: 400;

				    background-color: #ffffff;
				    color: $primary-color;
				}

				&:after
				{
					position: absolute;
					top: 10px;
					right: -4px;

					content: "";

					width: 30px;
					height: 30px;

					display: block;

					background-image: url('../assets/img/ico_close.png');
					background-repeat: no-repeat;
					background-position: cover;
				}
			}
		}


		.content
		{
			.scroll-content
			{
				padding-left: 15px;
				padding-right: 12px;
			}
		}

		.footer
		{
			padding-left: 16px;
			padding-right: 16px;
		}


	}
}

/* ==================================================================
DEFAULTS
================================================================== */
.left_content,
.right_content
{
	position: relative;
    padding: 0;
    margin: 0;

    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;

    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    width: 100%;
    max-width: 100%;

	height: 100vh;
    min-height: 1px;

	// opacity: .6;

	.header
	{
		/* background-color: #ddd; */
		// padding-top: 30px;
		// padding-left: 20px;
		// padding-right: 20px;
	}

	.toolbar-background
	{
		background-color: transparent;
		border:  none;
	}

	.content
	{
		background-color: transparent;
	}
}

.left_content
{
	@extend .bg_primary;

    -webkit-flex: 0 0 26.6%;
    -ms-flex: 0 0 26.6%;
    flex: 0 0 26.6%;
    width: 26.6%;
    max-width: 26.6%;

	.header
	{
		padding: 8px 20px 8px 27px;

		img
		{
			max-width: 40px;
		}
	}

	h1.type01
	{
		margin-bottom: 21px;
		padding-left: 10px;
	}

	.content
	{
		.scroll-content
		{
			margin-top: 100px;
			margin-bottom: 54px;
			padding-top: 15px;
			padding-left: 17px;
			padding-right: 0;
		}
		.list_playlist
		{

			.item
			{
				ion-avatar,
				ion-thumbnail
			    {
					ion-img,
					img
					{
						width: 66px;
					}
				}

				.item-inner
				{
					padding-right: 0;
				}

				ion-reorder
				{
					opacity: 1;
					margin-top: 17px;

					ion-icon
					{
						font-size: 1em;
						transform: rotate(90deg);

						&:before
						{
							content: "\f21f";
						}
					}
				}
			}
		}
	}

	.footer
	{
		padding: 0 16px 27px;
	}
}

.right_content
{
	@extend .bg_secundary;

	-webkit-flex: 0 0 73.4%;
    -ms-flex: 0 0 73.4%;
    flex: 0 0 73.4%;
    width: 73.4%;
    max-width: 73.4%;

    .header
    {
	    padding-top: 8px;
	    padding-left: 30px;
	    padding-right: 25px;

		@extend .bg_secundary;

	    > .toolbar
	    {
	    	padding: 0;

	    	.row
	    	{
	    		&:first-child
	    		{
	    			margin-bottom: 23px;
	    		}
	    	}
	    }

	    .ico_logo
	    {
	    	width: 70px;
	    }

	    .item-select
	    {
	    	height: 30px;
	    	min-height: 30px;

			.label
			{
				font-size: 13px
			}
	    }
    }
}

/* ==================================================================
BUTTONS
================================================================== */
.button
{
	border-radius: 10em;
	border-width: 2px;

    height: 3.4em;
    font-size: 1.5rem;

	&.big
	{
		border-width: 3px;
		font-size: 1.3em;
		font-weight: 300;
		padding: 0 2.4em;
		height: 4em;
	}

	&.activated
	{
		color: $primary-color;
	}

	&.light
	{
		border-color: $light-color;
		color: $light-color;

		&.activated
		{
			border-color: $primary-color;
			color: #ffffff;
			background-color: $primary-color;
		}
	}
}



/* ==================================================================
FORM
================================================================== */
.toolbar 
{
	.searchbar
	{
	    padding: 0 8px;
	    min-height: 44px;
	    border-top: 0.55px solid transparent;
	    border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
	    background: rgba(208, 148, 216, 0.2);
	    border-radius: 10em;
	    margin-top: -6px;

		.searchbar-input
		{
		    background: transparent;
		    padding-left: 16px;
		    font-size: 1.6rem;
		    color: #ffffff;
		}

		.searchbar-search-icon
		{
			left: initial;
			width: 23px;
			height: 23px;
			background-size: 100%;
			right: 9px;
			top: 3px;

			background-image: url('../assets/img/ico_search.png');
		}

		.searchbar-clear-icon
		{
			left: initial;
			width: 30px;
			height: 30px;
			background-size: 100%;
			right: 4px;
			top: 1px;

			background-image: url('../assets/img/ico_search_clear.png');
		}

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: $light-color;
		}
		::-moz-placeholder { /* Firefox 19+ */
			color: $light-color;
		}
		:-ms-input-placeholder { /* IE 10+ */
			color: $light-color;
		}
		:-moz-placeholder { /* Firefox 18- */
			color: $light-color;
		}
	}
}


.item_order
{
	margin-bottom: 0;
    margin-top: 30px;

	.item
	{
		padding: 0 8px;
		min-height: 44px;
		border-top: 0.55px solid transparent;
		border-bottom: 0.55px solid rgba(0, 0, 0, 0.05);
		background: rgba(208, 148, 216, 0.2);
		border-radius: 10em;
		margin-top: -6px;
		border: none !important;
	}

	.label {
	    margin-left: 16px;
	    color: $light-color;
	    margin-right: 0;
	}

	.select .select-icon .select-icon-inner
	{
		margin-top: -2px;
		border-top: 8px solid;
		border-right: 8px solid transparent;
		border-left: 8px solid transparent;
		color: $light-color;
	}

	.select-text
	{
		font-size: 14px;
		color: $light-color;
	}
}


/* ==================================================================
SEGMENTS
================================================================== */
.toogle_select
{
	position: static;
	justify-content: flex-end;
	.segment,
	.segment-button
	{
		/* flex: initial; */

		display: inline-block;
		text-overflow: initial;

		width: 40px;
		max-width: 40px;

		height: 40px;
		line-height: 40px;

		border-radius: 50% !important;

		border-width: 1px !important;
		border-color: #ffffff;
		color: #ffffff;

		font-size: 1.4rem;

		&.segment-activated
		{
			background-color: #ffffff;
			color: $primary-color;
		}

		&:last-child
		{
			margin-right: 0;
			margin-left: 8px !important;
		}
	}
}

/* ==================================================================
LISTS
================================================================== */
.list-ios > .item-block:first-child
{
	border-top: none;
}

.list_playlist
{
	margin-bottom: 0;
	.item
	{
	    padding: 21px 0 21px 10px;
	    font-size: 1.7rem;
	    color: #ffffff;
	    background-color: transparent;
	    transition: background-color 200ms linear;

    	border-bottom: 0.55px solid rgba(255, 128, 164, 0.8);

    	&:last-child
    	{
    		border-bottom: none !important;
    	}

		ion-avatar,
		ion-thumbnail
	    {
	    	position: relative;


			ion-img,
			img
			{
				width: auto;
				height: auto;
			}

	    	.badge
		    {
		    	position: absolute;
			    top: -6px;
			    left: -7px;

				width: 22px;
				height: 22px;
				line-height: 22px;

				letter-spacing: -1.4px;

				text-align: center;
				padding: 0;

			    background-color: #ffffff;
			    color: $secundary-color;

			    font-weight: 400;

			    border-radius: 50%;
		    }
	    }

	    .item-inner
		{
			margin-right: 0;
		}

	    ion-avatar[item-left],
	    ion-thumbnail[item-left]
	    {
	    	margin: 0 11px 0 0;
	    }

	    ion-label
	    {
			white-space: normal;
			h1
			{
			    margin: 6px 0 4px;
			    font-size: 1.5rem;
			    font-weight: bold;
	    	}
			h2
			{
				font-size: 1.2rem;
				margin-bottom: 12px;
	    	}

	    	.item-icon
	    	{
	    		border: solid 1px #ffffff;
	    		border-radius: 50%;

				text-align: center;

				width: 23px;
				height: 23px;
				line-height: 23px;

				margin-right: 4px;
	    	}
	    }

	    .item-inner
	    {
		    border-bottom: none;
		}

		&.item_filled
		{
			align-items: initial;

		    ion-label
		    {
				/* white-space: nowrap; */
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 0;

				h1
				{
					margin-top: -3px;
					max-height: 37px;
					overflow: hidden;
				}
			}
			ion-avatar,
			ion-thumbnail
			{
				&:after
				{
					content: "";
					width: 60px;
					height: 60px;

					background-color: $secundary-color;

					top: 3px;
					left: 3px;

					display: block;

					position: absolute;

					opacity: .4;

					border-radius: 5px !important;
					// border: solid 2px #ffffff !important;
				}

		    	.ico_circle_play
			    {
			    	position: absolute;
				    top: 14px;
				    left: 50%;

					width: 40px;
					height: 40px;

					margin-left: -20px;

					z-index: 9000;
			    }

		    	.badge
			    {
			    	z-index: 9999;
			    }

				ion-img,
				img
				{
					border-radius: 8px !important;
					border: solid 3px #ffffff !important;
				}
			}

			&.active
			{
				ion-avatar,
				ion-thumbnail
				{
			    	.ico_circle_play
				    {
						@extend .ico_circle_pause;
				    }

					ion-img,
					img
					{
						// border-color: $secundary-color !important;
					}
				}
			}
		}

		&.item_none
		{
			margin-top: 50%;
			text-align: center;

			ion-reorder
			{
				display: none !important;
			}
			img
			{
				display: inline-block;
				max-width: 60%;
			}
		}

	}

	&.insert
	{
		.item
		{
	    	border-bottom: 0.55px solid rgba(146, 20, 56, 1);
			align-items: initial;

			padding: 14px 0;

			opacity: .7;

			ion-label
		    {
				/* white-space: nowrap; */
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 0;

				display: flex;
				flex-direction: column;
				// align-items: center;
				justify-content: center;

				*
				{
				    @extend .text-overflow;
				}

				h1
				{
					// margin-top: -3px;
					font-size: 1.7rem;
				}
				h2
				{
					font-size: 1.6rem;
					margin-bottom: 0;
				}
			}

	    	ion-avatar,
			ion-thumbnail
			{
				ion-img,
				img
				{
					border-radius: 10px;
					border: solid 2px transparent;

					max-width: 68px;
				}
			}

			&.item_filled
			{
				opacity: 1;

				ion-avatar,
				ion-thumbnail
				{
					overflow: hidden;

					&:after
					{
						content: "";
						width: 64px;
						height: 64px;

						background-color: $secundary-color;

						top: 0;
						left: 0;

						display: block;

						position: absolute;

						opacity: .8;
						border-radius: 10px;

						border-radius: 10px !important;
						border: solid 2px #ffffff !important;
					}

					.ico_select
					{
						display: block;

						width: 36px;
						height: 36px;

						margin-left: -18px;
						margin-top: 0;
						top: 16px;

						background-size: cover;

						z-index: 10;
					}
				}

			}
	    }
	}


	&.capas
	{
		margin-bottom: 30px;
		padding-top: 11px;
		.item
		{
			align-items: baseline;
			border:  none;

			padding-bottom: 0;
			padding-top: 10px;

		    ion-label
		    {
				text-align: center;
				margin-top:  0;
				margin-bottom: 0;
				h1
				{
					margin: 4px 0;
					font-size: 1.5rem;

					max-height: 38px;
					overflow: hidden;
		    	}
		    }

		    &.item_active
			{
				ion-avatar,
				ion-thumbnail
				{
					border:  solid 1px $primary-color;

					img
					{
						opacity: .2;
					}

					.ico_select
					{
						display: block;
					}
				}
			}

			ion-avatar,
			ion-thumbnail
			{
			    display: inline-block;
				border-radius: 10px;
	    		overflow: hidden;
				border:  solid 1px transparent;

				max-width: 113px;
			}
		}
	}

	&.reproducao
	{
		// .item,
		.card
		{
			background-color:  $dark-color;
	    	border-bottom: none;

	    	margin-bottom: 14px;

	    	border-radius: 6px;

	    	padding: 17px 0 15px 19px;
	    	margin: 0 0 12px 0;

	    	width: 100%;

	    	.item
	    	{
	    		padding: 0;
	    		border-bottom: none;
	    	}

	    	.card-content
	    	{
	    		padding: 0 19px 0 0;

	    		.range
	    		{
	    			padding: 0;

	    			position: relative;
					visibility: hidden;

	    			.range-slider
	    			{
	    				height: 0;
	    			}

					.range-bar
					{
						height: 4px;
						background: #971a3e;
						top: 4px;
					}

					.range-bar-active
					{
						background: #ffffff;
					}

					.range-knob-handle
					{
						display: none;
						top: 6px;
					}

					.label
					{
						position: absolute;
						right: 0;
						top: -15px;
					}
				}
	    	}

			.item-inner
			{
			    margin-right: 12px;
			}

	    	ion-avatar,
			ion-thumbnail
			{
				margin-right: 22px;
				ion-img,
				img
				{
					border-radius: 6px;
					border: none;

					max-width: 64px;
				}
			}

			ion-label
			{
				h1
				{
					font-size: 2.1rem;
				    margin-top: 0;
				    color: $light-color;

				    @extend .text-overflow;
				}
				h2
				{
					font-size: 1.8rem;
					margin-bottom: 0;
					font-weight: 400;

				    @extend .text-overflow;
				}
			}

			.button
			{
				/* display: none; */
				background-color: $secundary-color;

				width: 50px;
				height: 50px;

				margin:  -14px 0 0 0;

				display: block;

				padding: 0;

				border-radius: 50%;

				.ico_control
				{
					@extend .ico_play;
				}
			}

			&.active
			{
				background-color: $primary-color;


	    		.range
	    		{
					visibility: visible;
	    		}

				ion-label
				{
					h1,h2
					{
					    color: #ffffff;
					}
				}

				ion-avatar,
				ion-thumbnail
				{
					ion-img,
					img
					{
						-webkit-filter: none;
						filter: none;
					}
				}

				.button
				{
					background-color: #ffffff;
					position: relative;

					-webkit-box-shadow: 0px 0px 4px 4px rgba(255,255,255,0.5);
					-moz-box-shadow: 0px 0px 4px 4px rgba(255,255,255,0.5);
					box-shadow: 0px 0px 4px 4px rgba(255,255,255,0.5);

					.ico_control
					{
						@extend .ico_pause;
					}
				}
			}
	    }

	}
}


/* ==================================================================
FIND MUSIC
================================================================== */
.find_music
{
	// @extend .bg_teste;

	.header
	{
		margin-top: 13%;
    	width: 18%;

    	img
    	{
    		width: 100%;
    	}
	}

	.footer
	{
		margin-bottom: 8%;
	}
}

/* ==================================================================
SELECT MUSIC
================================================================== */
.select_music
{
	// @extend .bg_teste;

	.left_content
	{
		position: relative;

		&:after
		{
			content: "";
			width: 100%;
			height: 17px;

			display: block;

			position: absolute;
			top: -17px;
			left: 0;

			background-color: $primary-color;
		}
	}

	.right_content
	{
		// display: none;
		.header
		{
			.row
			{
				&:first-child
				{
					// margin-bottom: 20px;
					/* background-color: #ddd; */
				}
				/* &:last-child
				{
					background-color: #f0f0f0;
				} */
			}
		}

		.content
		{
			.scroll-content
			{
				/* margin-top: 180px; */
				// padding-left: 20px;
				// padding-right: 20px;
				margin-top: 132px !important;
			}
		}
	}

}

/* ==================================================================
PLAY
================================================================== */
.play_music
{
	// @extend .bg_teste;

	*
	{
		-webkit-transition:width .05s linear;
		transition:width .05s linear;
		-webkit-transform:translateZ(0);
	}


	.play_content
	{
		.right_content
		{
			-webkit-flex: 0 0 50%;
		    -ms-flex: 0 0 50%;
		    flex: 0 0 50%;
		    width: 50%;
		    max-width: 50%;

		    &:first-child
		    {
		    	.header
		    	{
		    		padding-left: 15px;
		    	}

				.content
				{
					.scroll-content
					{
						padding-left: 5px;
					}
				}
		    }

			.header
			{
				padding-top: 8px;
				padding-bottom: 15px;
				padding-left: 30px;
				padding-right: 15px;

				.header_content
				{
					display: flex;
					flex-wrap: nowrap;
					flex-direction: row;
					justify-content: space-between;

					.button
					{
						width: 50px;
						height: 50px;

						margin:  0;

						display: block;
						background-color: #563d56;

						padding: 0;

						border-radius: 50%;
						overflow: hidden;

						&.active,
						&.activated
						{
							background-color: $primary-color;
							position: relative;
							box-shadow: 0px 0px 5px 5px rgba(255, 0, 73, 0.5);
						}
					}
				}

				h1.type01
				{
					background-position: 3px center;
					padding-left: 63px;
					background-size: 41px;
				}
				.row
				{
					&:first-child
					{
						margin-bottom: 4em;
						min-height: 50px;
					}
				}
			}

			.list_playlist
			{
				padding-left: 15px;
			}

			&.instrumental
			{

				.header
				{
					padding-left: 10px;
					padding-right: 15px;
				}

				.list_playlist
				{
					padding-left: 0;
				}

				.row
				{
					&:first-child
					{
						.col
						{
							padding-top: 0;
							padding-bottom: 0;

							.button
							{
								height: 2.6em;
								margin-top: 0;
								margin-bottom: 0;
							}
						}
					}
				}
			}

			.content
			{
				.scroll-content
				{
					/* margin-top: 180px; */
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
	}

}